<nav class="navbar sticky-top navbar-light">
  <a routerLink="/">Home</a>
  <a routerLink="/favourite-beers">Favourite</a>
</nav>

<header class="container-fluid">
  <div class="row">
    <h1 class="col-12">The Beer Bank</h1>
    <h6 class="col-12">Find your favourite beer here</h6>
  </div>

  <div class="row justify-content-center">
    <app-search-bar class="col-md-4 col-sm-12"></app-search-bar>
  </div>

  <div class="row justify-content-center text-right advanced-search">
    <a routerLink="/advanced-search" class="col-md-4 col-sm-12">Advanced Search</a>
  </div>
</header>

<router-outlet></router-outlet>
