<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="loader" *ngIf="loading">Loading...</div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <h3 *ngIf="!loading && beers.length === 0" class="col-md-5">No beers with that name were found.</h3>
    <div class="row justify-content-center">

      <div class="row justify-content-center text-center">
        <h3 *ngIf="!loading && errors.length === 0" class="col-8">{{ errors.join('. ') }}</h3>
      </div>

      <div class="row justify-content-center" *ngIf="!loading">
        <div class="card-columns">
          <div
                  *ngFor="let beer of beers"
                  (click)="openBeerModal(beer)"
                  class="card beer"
          >
            <button (click)="addOrRemoveToFavourites(beer);$event.stopPropagation();"
                    [ngClass]="(beer.isInFavouriteList) ? 'active': ''"
                    class="btn btn-link favouriteIcon"
            >&#9734;
            </button>
            <div class="card-img-top">
              <img src="{{beer.image_url}}" alt="{{beer.name}}">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{beer.name}}</h5>
              <p class="card-text">{{beer.tagline}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
