<div class="container-fluid">
  <div class="row">
    <div class="card-columns"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">
      <div
              *ngFor="let beer of beers"
              [class.selected]="beer === selectedBeer"
              (click)="openBeerModal(beer)"
              class="card beer"
      >
        <button (click)="addOrRemoveToFavourites(beer);$event.stopPropagation();"
                [ngClass]="(beer.isInFavouriteList) ? 'active': ''"
                class="btn btn-link favouriteIcon"
        >&#9734;
        </button>
        <img class="card-img-top" src="{{beer.image_url}}" alt="{{beer.name}}">
        <div class="card-body">
          <h5 class="card-title">{{beer.name}}</h5>
          <p class="card-text">{{beer.tagline}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-3">
      <div class="loader" *ngIf="loading">Loading...</div>
    </div>
  </div>
</div>
