@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import '../../styles/variables.scss';

.beer {
  cursor: pointer;
  height: 20rem;
  padding: 1rem;
  text-align: center;

  &:hover {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .favouriteIcon {
    color: #000000;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;

    &:hover:before,
    &:hover ~ &:before,
    &.active:before {
      color: $primary-color;
      content: "\2605";
      position: absolute;
    }
  }

  .card-img-top {
    height: 9rem;
    margin: 0 auto;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .card-text {
    color: $secondary-color;
  }

  h5 {
    color: $primary-color;
  }
}
